@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

:root {
  --primary: #394d8f;
  --primary-dark: #26335f;
  --primary-shadow: #394d8fc9;
  --secondary: #ffd930;
  --secondary-shadow: #ffd930d7;
  --secondary-dark: #c9ab25;
  --dark: #575757;
  --light: #fafafa;
  --dull: #e8e8e8d0;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light);
  font-family: var(--primary-font);
  color: var(--dark);
  font-weight: 400;
  box-sizing: border-box;
}

h1 {
  font-family: var(--secondary-font);
  color: var(--primary);
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-family: var(--secondary-font);
  color: var(--primary);
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-family: var(--secondary-font);
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: 700;
}

p {
  font-size: 1.2rem;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content-wrapper {
  padding: 0 2rem;
}
