@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers|Oswald|Raleway&display=swap');

@keyframes rotate-in-2-br-ccw {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

:root {
  --primary: #00377e;
  --primary-shadow: #00377ea6;
  --secondary: #d56138;
  --secondary-shadow: rgba(213, 98, 56, 0.808);
  --dark: #575757;
  --light: #fafafa;
  --dull: #e8e8e8d0;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light);
  font-family: var(--primary-font);
  color: var(--dark);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

.header {
  border-bottom: 1px solid #e8e8e8d0;
  margin-bottom: 2rem;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem;
  width: 100%;
}

.header .nav-link {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-family: var(--secondary);
  letter-spacing: 0.25rem;
  text-shadow: 0px 1px 1px var(--primary-shadow);
}

.header .nav-link .secondary-header {
  font-size: 2rem;
  color: var(--secondary);
  margin-right: 0.5rem;
}

.header .nav-link:hover {
  background-color: var(--secondary);
  color: var(--light);
  border-radius: 5px;
  text-shadow: 0px 1px 1px var(--secondary-shadow);
}

.header .nav-link:hover .secondary-header {
  color: var(--light);
}

.bars {
  margin: 2rem 0 0 2rem;
  font-size: 3rem;
  background-color: transparent;
  border: none;
  align-self: flex-start;
}

.main {
  padding: 1.5rem;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 25vh;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25vh;
  padding: 0 2rem 4rem 2rem;
  border-top: 1px solid var(--dull);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
}

.footer p {
  margin-top: 1rem;
  display: block;
  font-size: 1.2rem;
  color: #888888;
  text-align: start;
  align-self: flex-end;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  justify-content: center;
  margin: 3rem 0;
}

.section p {
  font-size: 1.5rem;
  text-align: justify;
}

.section h1 {
  font-family: var(--secondary-font);
  letter-spacing: 0.25rem;
  color: var(--primary);
  font-size: 2.5rem;
  text-shadow: 0px 1px 1px var(--primary-shadow),
    0px 1px 1px var(--primary-shadow);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.desktop-hide {
  display: none;
}

.welcome {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--dull);
  margin: 2rem;
}

.welcome-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 40%;
}

.welcome-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  flex-basis: 55%;
  padding: 2.5rem;
  -webkit-backface-visibility: hidden;
}

.my-image {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  animation: rotate-in-2-br-ccw 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.welcome-left h1 {
  font-family: var(--secondary-font);
  letter-spacing: 0.25rem;
  color: var(--primary);
  font-size: 5rem;
  text-shadow: 0px 1px 1px var(--primary-shadow) 0px 1px 1px
    var(--primary-shadow);
  margin-bottom: 2rem;
}

.welcome-left h2 {
  font-size: 2rem;
}

.tech-row {
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 5rem;
}

.tooltip {
  position: relative;
  display: block;
  padding-bottom: 1rem;
}

.tooltip .tooltiptext {
  font-size: 1.2rem;
  visibility: hidden;
  width: 7rem;
  background-color: var(--primary-shadow);
  color: var(--light);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover svg {
  color: var(--secondary);
}

.more {
  font-size: 2rem;
  font-family: var(--secondary-font);
  color: var(--primary);
  margin: 4rem 0;
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
}

.more a:hover {
  color: var(--secondary);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.big-dot {
  font-size: 2.5rem;
  color: var(--secondary);
  vertical-align: middle;
}

.article-preview {
  margin: 2rem 0rem;
}

.article-preview-link {
  font-size: 2rem;
}

.article-date {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.article-wrapper {
  margin: 2rem auto 0 auto;
  width: 65%;
}

.article-h1 {
  font-family: var(--secondary-font);
  letter-spacing: 0.25rem;
  color: var(--primary);
  font-size: 4rem;
  text-shadow: 0px 1px 1px var(--primary-shadow) 0px 1px 1px
    var(--primary-shadow);
  margin: 6rem 0 2rem 0;
}

.back {
  font-size: 2rem;
  font-family: var(--secondary-font);
  color: var(--primary);
  margin: 4rem 0;
  text-transform: uppercase;
  font-weight: 700;
}

.back a:hover {
  color: var(--secondary);
}

.content {
  padding: 2rem;
  font-size: 1.8rem;
  line-height: 2;
}

.content * {
  margin-bottom: 2rem;
}

.content p {
  text-align: justify;
}

.content hr {
  margin: 4rem auto;
  width: 50%;
}

.content pre {
  background-color: var(--dark);
  color: var(--light);
  padding: 2rem;
  overflow: scroll;
}

.contact {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
}

.avatar {
  width: 20%;
  clip-path: circle(50% at 50% 50%);
}

.contact-row {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-h2 {
  font-size: 2rem;
  font-family: var(--secondary-font);
  color: var(--primary);
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.link-icons {
  display: flex;
  flex-wrap: wrap;
  font-size: 4rem;
}

.link-icons a {
  color: var(--dark);
}

.link-icons a:hover {
  color: var(--secondary);
}

.project-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.all-projects {
  margin-bottom: 2rem;
}

.project-card {
  flex-basis: 30%;
  border: 1px solid var(--dull);
  box-shadow: 0 0.2rem 0.4rem #57575773;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-card h2 {
  margin: 1rem 0 0 1rem;
  font-size: 2rem;
  font-family: var(--secondary-font);
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
  align-items: stretch;
}

.project-description {
  margin: 1rem 0 0 1rem;
}

.project-image {
  width: 100%;
  border: 2px solid var(--dull);
}

.project-link-row {
  margin: auto 0 1rem 1rem;
  padding-top: 1rem;
}

.project-link {
  font-size: 1.5rem;
}

.resume {
  margin: 2rem auto;
}

@media only screen and (max-width: 768px) {
  .header .nav {
    padding: 0 0 1rem 0;
  }

  .header div {
    display: flex;
    flex-direction: column;
  }

  .container {
    max-width: 95%;
    min-height: 100vh;
    padding-bottom: 30vh;
  }

  .nav-hide {
    visibility: hidden !important;
    opacity: 0;
    height: 0;
  }

  .nav-view {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in;
  }

  .mobile-hide {
    display: none !important;
  }

  .desktop-hide {
    display: inline-block;
  }

  .desktop-hide-sub {
    display: inline-block;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--dull);
    text-align: center;
  }

  .welcome-left {
    flex-basis: 100%;
    margin-bottom: 0;
  }

  .welcome-right {
    display: block;
    width: 100%;
    padding: none;
    -webkit-backface-visibility: hidden;
  }
 
  .article-wrapper {
    width: 100%;
  }

  .tech-row {
    display: none;
  }

  .link-icons {
    font-size: 3rem;
  }

  .footer {
    justify-content: flex-end;
    height: 30vh;
  }

  .avatar {
    width: 40%;
  }
  
  .contact {
    flex-basis: 100%;
  }

  .project-card {
    flex-basis: 100%;
    margin: 2rem 0 0 0;
  }

  .resume {
    margin: 0;
  }
}
